.panel {
  background: $panel-bg;
  border: 1px solid $panel-border-color;
  border-radius: 3px;
  box-shadow: $panel-shadow;
  position: relative;

  .panel-header {
    border-bottom: 1px solid lighten($panel-border-color, 2%);
  }

  .panel-footer {
    border-top: 1px solid lighten($panel-border-color, 2%);
  }

  @each $gutterName, $gutterValue in $gutters {
    &.gutter-#{$gutterName} {
      .panel-header, .panel-body, .panel-footer {
        padding: 2 * $gutterValue;
      }
    }
  }

  &.panel-loading {
    .panel-body {
      opacity: $loading-opacity;
    }
  }
}
