.table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    padding: 1rem 1.25rem;
  }

  tbody, tfoot {
    tr {
      th, td {
        border-top: 1px solid $light;
      }
    }
  }

  &.border {
    border: 1px solid $light;
  }

  &.striped {
    tbody {
      tr:nth-child(2n+1) {
        td, th {
          background: $pale;
        }
      }
    }
  }
}
