body {
  direction: rtl;
  font-family: $font-primary;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
}

@each $fontName, $fontValue in $fonts {
  .ff-#{$fontName} {
    font-family: $fontValue;
  }
}

@each $fontSizeName, $fontSizeValue in $fontSizes {
  #{$fontSizeName} {
    font-weight: map-get($fontWeights, semibold);
    margin: 0;
  }

  #{$fontSizeName},
  .fz-#{$fontSizeName} {
    font-size: $fontSizeValue;
  }
}

@each $fontSizeName, $fontSizeValue in $pFontSizes {
  .fz-#{$fontSizeName} {
    font-size: $fontSizeValue;
  }
}

@each $fontWeightName, $fontWeightValue in $fontWeights {
  .fw-#{$fontWeightName} {
    font-weight: $fontWeightValue;
  }
}

@each $fontStyleName, $fontStyleValue in $fontStyles {
  .fs-#{$fontStyleName} {
    font-style: $fontStyleValue;
  }
}

p.typo-sm {
  font-size: $font-size-p-sm;
}
