.clr, .clearfix {
  @include clearfix();
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.v-align-top {
  vertical-align: top;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-bottom {
  vertical-align: bottom;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@each $colorName, $colorValue in $text-colors {
  .text-#{$colorName} {
    color: map-get($text-colors, $colorName);
  }
}

@each $gutterName, $gutterValue in $gutters {
  .mb-#{$gutterName} {
    margin-bottom: $gutterValue;
  }
}

@each $gridBreakpointName, $gridBreakpointWidth in $grid-breakpoints {
  @media (min-width: $gridBreakpointWidth) {
    .hidden-#{$gridBreakpointName} {
      display: none !important;
    }
    .visible-#{$gridBreakpointName} {
      display: block !important;
    }
    .float-left-#{$gridBreakpointName} {
      float: left !important;
    }
    .float-right-#{$gridBreakpointName} {
      float: right !important;
    }
  }
}

@media (max-width: $screen-md-max) {
  .hidden-gadget {
    display: none !important;
  }
  .float-left-gadget {
    float: left !important;
  }
  .float-right-gadget {
    float: right !important;
  }
}

@media (min-width: $screen-lg-min) {
  .hidden-desktop {
    display: none !important;
  }
  .float-left-desktop {
    float: left !important;
  }
  .float-right-desktop {
    float: right !important;
  }
}
