.button {
  background: transparent;
  border: 1px solid transparent;
  border-radius: $button-radius;
  box-shadow: $button-shadow;
  display: inline-block;
  text-align: center;
  transition: $button-transition;

  &:hover {
    box-shadow: $button-hover-shadow;
  }

  &:focus {
    border-color: $button-focus-border-color;
    box-shadow: $button-focus-shadow;
  }

  // Size

  &.button-normal {
    font-size: $button-font-size;
    line-height: $button-line-height;
    padding: $button-vertical-padding $button-horizontal-padding;

    &.button-wide {
      padding-left: $button-horizontal-padding-wide;
      padding-right: $button-horizontal-padding-wide;
    }

    &.button-block {
      display: block;
      padding-left: $button-horizontal-padding-block;
      padding-right: $button-horizontal-padding-block;
      width: 100%;
    }
  }

  &.button-small {
    font-size: $button-small-font-size;
    line-height: $button-small-line-height;
    padding: $button-small-vertical-padding $button-small-horizontal-padding;

    &.button-wide {
      padding-left: $button-small-horizontal-padding-wide;
      padding-right: $button-small-horizontal-padding-wide;
    }

    &.button-block {
      display: block;
      padding-left: $button-small-horizontal-padding-block;
      padding-right: $button-small-horizontal-padding-block;
      width: 100%;
    }
  }

  &.button-tiny {
    font-size: $button-tiny-font-size;
    line-height: $button-tiny-line-height;
    padding: $button-tiny-vertical-padding $button-tiny-horizontal-padding;

    &.button-wide {
      padding-left: $button-tiny-horizontal-padding-wide;
      padding-right: $button-tiny-horizontal-padding-wide;
    }

    &.button-block {
      display: block;
      padding-left: $button-tiny-horizontal-padding-block;
      padding-right: $button-tiny-horizontal-padding-block;
      width: 100%;
    }
  }

  // Type
  &.button-anchor {
    cursor: pointer;
  }

  // Disabled
  &[disabled] {
    cursor: not-allowed;
    opacity: $button-disabled-opacity;
  }

  // Color
  @each $colorName, $colorValue in $button-bgs {
    &.button-#{$colorName} {
      background: map-get($button-bgs, $colorName);
      color: map-get($button-colors, $colorName);

      &:hover {
        background: map-get($button-hover-bgs, $colorName);
      }
    }
  }
}
