.form-checkbox {
  label.checkbox-label {
    display: block;

    input.html-checkbox {
      filter: alpha(opacity=0);
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
    }

    .checkbox {
      background: #fff;
      border: 1px solid $checkboxBorderColor;
      border-radius: $checkboxBorderRadius;
      display: inline-block;
      height: 1rem;
      margin-left: 0.5rem;
      position: relative;
      text-align: center;
      transition: $checkboxTransition;
      vertical-align: middle;
      width: 1rem;

      .cathode-icon {
        display: block;
        font-size: 0.5rem;
        line-height: 1rem;
      }
    }

    &:hover .checkbox {
      border-color: $checkboxHoverBorderColor;
    }

    input.html-checkbox:focus + .checkbox {
      border-color: $checkboxFocusBorderColor;
      box-shadow: $checkboxFocusShadow;
    }
  }

  label.checkbox-label.checked {
    .checkbox {
      background: $primaryColor;
      border-color: $primaryColor;
      color: #fff;
    }

    input.html-checkbox:focus + .checkbox {
      border-color: $primaryColor;
      box-shadow: $checkboxFocusShadow;
    }
  }
}
