.form-checklist {
  .form-checkbox,
  .form-radio {
    margin-bottom: 7px;
  }

  &.checklist-inline {
    .form-checkbox,
    .form-radio {
      display: inline-block;
      margin-left: 2em;
    }
  }
}
