.form-file {
  label {
    display: block;
    position: relative;

    input {
      filter: alpha(opacity=0);
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .file-button {
      background: $pale;
      border: 1px solid $input-border-color;
      border-radius: $input-radius;
      box-shadow: $button-shadow;
      cursor: pointer;
      display: block;
      font-size: $input-font-size;
      line-height: $input-line-height;
      overflow: hidden;
      padding: $input-vertical-padding $input-horizontal-padding;
      text-overflow: ellipsis;
      transition: $button-transition;
      white-space: nowrap;

      &:hover {
        border-color: $input-hover-border-color;
      }

      .file-placeholder {
        color: $lightGray;
      }

      .cathode-icon {
        margin-left: 0.5rem;
      }
    }

    input:focus + .file-button {
      border-color: $input-focus-border-color;
      box-shadow: $button-focus-shadow;
    }
  }

  &.field-has-error {
    .file-button, .file-button:hover {
      border-color: $input-error-border-color;
      color: $dangerColor;
      box-shadow: $button-error-shadow;
    }
  }
}
