.form-select {
  select {
    background: #fff;
    border: 1px solid $input-border-color;
    border-radius: $input-radius;
    box-shadow: $input-shadow;
    display: block;
    font-size: $input-font-size;
    height: calc(#{$input-height} - 2px);
    /*line-height: $input-line-height;*/
    padding: $input-vertical-padding $input-horizontal-padding;
    transition: $input-transition;
    width: 100%;

    &:hover {
      border-color: $input-hover-border-color;
    }

    &:focus {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-shadow;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: $input-disabled-opacity;
    }
  }

  &.field-has-error {
    select {
      border-color: $input-error-border-color;
      box-shadow: $input-error-shadow;
    }
  }
}
