.form-text {
  input,
  textarea {
    background: #fff;
    border: 1px solid $input-border-color;
    border-radius: $input-radius;
    display: block;
    font-size: $input-font-size;
    line-height: $input-line-height;
    padding: $input-vertical-padding $input-horizontal-padding;
    transition: $input-transition;
  }

  input {
    width: 100%;
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  input, textarea {
    box-shadow: $input-shadow;

    &:focus {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-shadow;
    }

    &[disabled] {
      opacity: $input-disabled-opacity;
    }
  }

  &.form-ltr {
    input, textarea {
      direction: ltr;
    }
  }

  &.field-has-error {
    input, textarea {
      border-color: $input-error-border-color;
      color: $dangerColor;
      box-shadow: $input-error-shadow;
    }
  }
}
